<div
  [ngClass]="classes()"
  class="w-full
         flex
         flex-col
         gap-1
         p-4
         rounded-xl
         overflow-hidden
         transition-height
         duration-1000"
>
  <h3
    [ngClass]="titleClasses"
    class="text-md
           font-bold
           uppercase"
    >
    {{title}}
  </h3>
  <div class="toggle -mt-4">
    <input (change)="check()" class="" id="switch" type="checkbox" />
    <label for="switch">Toggle</label>
  </div>
  <div
    [ngClass]="boxClasses"
    class="h-[175px]
           mt-2
           w-full
           h-100
           border
           rounded-lg"
  >

  </div>
</div>
