<div
  [ngClass]="classes()"
  class="w-full
         flex
         flex-col
         gap-1
         p-4
         rounded-xl
         overflow-hidden
         transition-height
         duration-1000
">
  <h3 class="text-md font-bold text-[#46426D] uppercase">Lead</h3>
  <div class="toggle -mt-4">
    <input (change)="check()" class="" id="switch" type="checkbox" />
    <label for="switch">Toggle</label>
  </div>
  <div class="card h-[175px] mt-2 w-full h-100 border border-[#E9D9FF] rounded-lg">

  </div>
</div>
